pandas==1.1.4
ipyvuetify==1.8.1
plotly==5.4.0
cufflinks==0.17.3
bokeh==2.4.2
seaborn==0.11.2
scikit-learn==1.0.1
konlpy==0.5.2
tweepy==3.10.0
mlflow==1.23.1
tqdm==4.62.3
voila==0.2.16
voila-vuetify==0.5.2
bqplot==0.12.31
ludwig==0.4
petastorm==0.11.4
impala==0.2
impyla==0.17.0
pandas-profiling==3.1.0