{%- extends 'base.html.j2' -%}
{% from 'mathjax.html.j2' import mathjax %}
{% from 'jupyter_widgets.html.j2' import jupyter_widgets %}

{%- block header -%}
<!DOCTYPE html>
<html>
<head>
{%- block html_head -%}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% set nb_title = nb.metadata.get('title', '') or resources['metadata']['name'] %}
<title>{{nb_title}}</title>

{%- block html_head_js -%}
{%- block html_head_js_requirejs -%}
<script src="{{ resources.require_js_url }}"></script>
{%- endblock html_head_js_requirejs -%}
{%- endblock html_head_js -%}

{% block jupyter_widgets %}
  {%- if "widgets" in nb.metadata -%}
    {{ jupyter_widgets(resources.jupyter_widgets_base_url, resources.html_manager_semver_range, resources.widget_renderer_url) }}
  {%- endif -%}
{% endblock jupyter_widgets %}

{% block extra_css %}
{% endblock extra_css %}

{% for css in resources.inlining.css -%}
  <style type="text/css">
    {{ css }}
  </style>
{% endfor %}

{% block notebook_css %}
{{ resources.include_css("static/index.css") }}
{% if resources.theme == 'dark' %}
    {{ resources.include_css("static/theme-dark.css") }}
{% else %}
    {{ resources.include_css("static/theme-light.css") }}
{% endif %}
<style type="text/css">
a.anchor-link {
   display: none;
}
.highlight  {
    margin: 0.4em;
}

/* Input area styling */
.jp-InputArea {
    overflow: hidden;
}

.jp-InputArea-editor {
    overflow: hidden;
}

@media print {
  body {
    margin: 0;
  }
}

body {
  margin: 0;
}

.jp-Notebook {
  padding: 0;
}

.jp-Cell {
  padding: 0;
}

.jp-Cell:not(.jp-mod-noOutputs) .jp-Cell-outputWrapper {
  margin: 0;
}

.jupyter-widgets {
  margin: 0 !important;
}










.v-container.background {
  height: auto !important;
  position: fixed;
  top: 0;
  bottom: 0;
  border:0;
}

.vuetify-styles .v-application--wrap {
  flex-direction: row !important;
}

.v-container.work_area {
  height: auto !important;
  position: fixed;
  bottom: 0;
}

.v-navigation-drawer.side_nav {
  height: 100% !important;
}

.top_area .v-toolbar__content {
  height: 48px !important;
  padding: 0 !important;
}

.v-container .tabular_sub_menu.col {
    max-height: 100% !important;
}

.v-container .output_part_sub.col {
    max-height: 100% !important;
}

.tabular_analytics_basicinfo__output_part .v-navigation-drawer {
    height: 100% !important;
}

.tabular_analytics_basicinfo__output_part .col {
    max-height: 100% !important;
    overflow-y: unset !important;
}

.vuetify-styles .v-toolbar {
    position: fixed;
}

.vuetify-styles .v-alert {
    position: fixed !important;
}

.col.tabular_tab_menu {
    position: fixed;
}

.v-container.tabular_data_analytics__sub_contents .v-navigation-drawer {
    height: 100% !important;
}

.v-container.tabular_data_processing_sub_menu {
    height: 100% !important;
}








@font-face {
    font-family: 'AppleSD-M';
    font-style: normal;
    font-weight: 400;
    src: url("/voila/nbextensions/AppleSD/AppleSDGothicNeoM.ttf") format('truetype');
}

@font-face {
    font-family: 'AppleSD-B';
    font-style: normal;
    font-weight: 400;
    src: url("/voila/nbextensions/AppleSD/AppleSDGothicNeoB.ttf") format('truetype');
}

@font-face {
    font-family: 'AppleSD-EB';
    font-style: normal;
    font-weight: 400;
    src: url("/voila/nbextensions/AppleSD/AppleSDGothicNeoEB.ttf") format('truetype');
}

@font-face {
    font-family: 'AppleSD-H';
    font-style: normal;
    font-weight: 400;
    src: url("/voila/nbextensions/AppleSD/AppleSDGothicNeoH.ttf") format('truetype');
}

@font-face {
    font-family: 'AppleSD-L';
    font-style: normal;
    font-weight: 400;
    src: url("/voila/nbextensions/AppleSD/AppleSDGothicNeoL.ttf") format('truetype');
}

@font-face {
    font-family: 'Material_Icons';
    font-style: normal;
    font-weight: 400;
    src: url("/voila/nbextensions/material_icons/MaterialIcons-Regular.ttf") format('truetype'),
         url("/voila/nbextensions/material_icons/MaterialIconsOutlined-Regular.otf") format('opentype'),
         url("/voila/nbextensions/material_icons/MaterialIconsRound-Regular.otf") format('opentype'),
         url("/voila/nbextensions/material_icons/MaterialIconsSharp-Regular.otf") format('opentype'),
         url("/voila/nbextensions/material_icons/MaterialIconsTwoTone-Regular.otf") format('opentype');
  }

.material-icons {
    font-family: 'Material_Icons';
    font-weight: normal;
    font-style: 400;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
}


.vuetify-styles .v-application {
    font-family: 'AppleSD-M' !important
}

.vuetify-styles .v-list-item--link:before {
    border-radius: inherit
}

.vuetify-styles .theme--light.v-list-item:hover:before {
    background-color: #ffffff !important;
    opacity: 0.08 !important;
}

.vuetify-styles .theme--light.v-list-item--disabled:before {
    background-color: #ffffff !important;
    opacity: 0.3 !important;
}

.main-menu-group .v-list-group__header__prepend-icon {
    margin-right: 6px !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    align-self: auto !important;
}

.main-menu-group .v-list-group__header__prepend-icon .v-icon {
    color: #e2e2e2de !important;
}

.main-menu-group .v-list-group__header__append-icon .v-icon.mdi-chevron-down {
    color: #e2e2e2de !important;
}

.sub-menu-group .v-list-group__header__prepend-icon {
    margin-right: 6px !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    align-self: auto !important;
}

.sub-menu-group .theme--light.v-icon {
    color: rgba(90, 90, 90, 1) !important;
    font-size: 20px !important;
}

.v-list-item.sub-menu-item::before {
    transition: none !important;
    background-color: #ffffff00 !important;
}

.sub-menu-group .v-list-item--link:before {
    transition: none !important;
    background-color: #ffffff00 !important;
}

.theme--light.v-list-item--active.sub-menu-item:before {
    background-color: #ff000000 !important;
}

.vuetify-styles .sub-menu-item.now_active:before {
    background-color: #585858 !important;
    opacity: 0.08 !important;
}

.v-list-item.v-list-item--link.theme--light.sub-menu-item:hover {
    background-color: rgba(197 197 197 / 38%);
}

.v-list-group.sub-menu-group .v-list-group__header:hover {
    background-color: rgba(197 197 197 / 38%);
}

.v-list-item.v-list-item--link.theme--light.sub-menu-item.v-list-item--disabled {
    background-color: rgba(197 197 197 / 38%);
}

.vuetify-styles .v-text-field.extra-dense .v-input__slot {
    min-height: 30px !important;
}

.vuetify-styles .theme--light.v-text-field.extra-dense>.v-input__control>.v-input__slot:before {
    border: 0;
}

.vuetify-styles .theme--light.v-text-field.extra-dense>.v-input__control>.v-input__slot:after {
    border: 0;
}

.extra-dense input {
    text-align: right;
}

.vuetify-styles .v-text-field--outlined.tabula-data-selector fieldset {
    border: 1px solid #cbcbcb !important;
}

.vuetify-styles .col {
    margin: 0 !important;
}

.vuetify-styles .theme--light.v-btn-toggle:not(.v-btn-toggle--group) {
    background: none !important;
}

.vuetify-styles .tab_menu .v-btn:not(.v-btn--text):not(.v-btn--outlined).v-btn--active:before {
    opacity: 0;
}

.vuetify-styles .v-btn:not(.v-btn--text):not(.v-btn--outlined):hover:before {
    opacity: 0.3 !important;
}

.vuetify-styles .tabular_ai_training__training_options .v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)>.v-input__control>.v-input__slot {
    box-shadow: none !important;
    border-bottom: 1px solid black;
}

.vuetify-styles .v-card {
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 10%) 0px 1px 3px 0px, rgb(0 0 0 / 10%) 0px 1px 2px -1px !important;
}

.vuetify-styles .tabular_ai_training__training_options .v-card__title{
    align-items: stretch !important;
}

.vuetify-styles .tabular_ai_training__training_options .v-input {
    align-items: flex-end !important;
}

@media (min-width: 1264px) {
    .vuetify-styles .v-container {
        max-width: unset!important;
    }
}

@media (min-width: 960px) {
    .vuetify-styles .v-container {
        max-width: unset !important;
    }
}

.vuetify-styles .theme--light .tabular_ai_training__train_result .output_scroll {
    height: 100%;
    box-shadow: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-top: 10px;
}

.vuetify-styles .v-dialog {
    overflow-y: hidden !important;
}

.vuetify-styles .v-radio .v-label {
    font-size: 14px !important;
    width:90px
}

.tabular_data_import__workbook_data_list_view .v-data-table.theme--light td {
    border-bottom: 0px !important;
}

.tabular_data_import__aidu_data_list_view .v-data-table.theme--light td {
    border-bottom: 0px !important;
}

.tabular_import_aidu_view__work_area_contents_sub_area__top .v-radio {
    margin:0 !important;
}

.vuetify-styles .v-input {
    font-size: 14px !important;
}

.vuetify-styles .v-label {
    font-size: 14px !important;
}

.tabular_import_pc_view__work_area_contents_sub_area__middle .v-file-input {
    width: 805px !important;
}

.vuetify-styles .side_nav .v-list-item--link:before:not(.theme--light.v-list-item--disabled) {
    opacity: 0 !important
}

.v-autocomplete__content {
    background-color: #ffffff;
}

.v-menu__content {
    background-color: #ffffff;
}

.vuetify-styles .task_icon_card:hover {
    background-color: #e1e1e1 !important;
}

.task_icon_card.now_in_use {
    background-color: #e1e1e1 !important;
}

.task_icon_card:not(.now_in_use) {
    cursor: pointer;
}

.tabular_analytics_wcloud_view__language_selector .v-radio {
    max-width:37% !important;
}

.tabular_analytics_wcloud_view__language_selector .theme--light.v-label {
    color: rgba(0,0,0, 0.83) !important;
}

.tabular_analytics_reduction_view__algorithm_selector .v-radio {
    max-width:39% !important;
}

.tabular_analytics_clustering_view__algorithm_selector .v-radio {
    max-width:45% !important;
    margin-right:10px !important;
}

.tabular_analytics_reduction_view__algorithm_selector .theme--light.v-label {
    color: rgba(0,0,0, 0.83) !important;
}

.vuetify-styles .tabula-data-selector .theme--light.v-list-item:hover:before {
    background-color: #e4effa !important;
    opacity: 0.6 !important;
}

.vuetify-styles .tabula-data-selector .theme--light.v-list-item:before {
    transition: none !important;
}

.main-menu-group .theme--light.v-list-item--active:before {
    opacity: 0 !important;
}

</style>




{% endblock notebook_css %}

{%- block html_head_js_mathjax -%}
{{ mathjax(resources.mathjax_url) }}
{%- endblock html_head_js_mathjax -%}

{%- block html_head_css -%}
{%- endblock html_head_css -%}

{%- endblock html_head -%}
</head>
{%- endblock header -%}

{%- block body_header -%}
{% if resources.theme == 'dark' %}
<body class="jp-Notebook" data-jp-theme-light="false" data-jp-theme-name="JupyterLab Dark">
{% else %}
<body class="jp-Notebook" data-jp-theme-light="true" data-jp-theme-name="JupyterLab Light">
{% endif %}
{%- endblock body_header -%}

{% block body_footer %}
</body>
{% endblock body_footer %}

{% block footer %}
{% block footer_js %}
{% endblock footer_js %}
{{ super() }}
</html>
{% endblock footer %}
